.header {
	height: 75px;
	width: 100%;
	background-color: #DDD;
	font-weight: 700;
	font-size: larger;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.headerElement {
	padding: 5px 15px;
	background-color:  none;
}

.searchBarWrapper {
	max-width: var(--maxBodyWidth);
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	border: 1px solid #DDD;
	border-radius: 25px;
}

.searchBarInput {
	border: 1px solid var(--light);
	margin: 15px;
	padding: 5px;
	font-size: large;
	border-radius: 10px;
}

.searchBarInput:hover {
	border: 3px solid #AAA;
	margin: 13px;
}

.postWrapper {
	max-width: 800px;
	margin: 30px auto;
	background: var(--light);
	border: 2px solid #DDD;
	width: 100%;
	padding: 15px;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
}