.newPostWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.newPostContainer {
	border-radius: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--light);
	box-shadow: 1px 1px 15px var(--dark);
}

.newPostTitle {
	margin: 30px;
}

.newPostContent {
	border: 1px solid #DDD;
	margin: 15px;
	padding: 5px;
	font-size: large;
	border-radius: 10px;
}

.newPostContentDisabled {
	border: 1px solid #DDD;
	margin: 15px;
	padding: 5px;
	font-size: large;
	border-radius: 10px;
}

.newPostContent:hover {
	border: 3px solid #AAA;
	margin: 13px;
}

.newPostContentDisabled:hover {
	cursor: not-allowed;
}